#This action is centrally managed in https://github.com/asyncapi/.github/
#Don't make changes to this file in this repo as they will be overwritten with changes made to the same file in above mentioned repo
#It does magic only if there is package.json file in the root of the project
name: Release Version to Github

on:
  push:
    branches:
      - production
      # below lines are not enough to have release supported for these branches
      # make sure configuration of `semantic-release` package mentiones these branches
      - next
      - "**-release"

jobs:
  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Test for later
        run: |
          echo "for later"
  release:
    needs: test
    name: Publish to GitHub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Install dependencies
        run: npm install
      - name: Release to GitHub
        id: release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          GIT_AUTHOR_NAME: ugotlead-bot
          GIT_AUTHOR_EMAIL: info@ugotlead.dk
          GIT_COMMITTER_NAME: ugotlead-bot
          GIT_COMMITTER_EMAIL: info@ugotlead.dk
        run: npm run release
